{% extends "base.html.twig" %}
{% block body %}
	<div class="row">
		<div class="col">
			<h1 class="text-center">{{"Prochain cours : Lundi 23 décembre "}}</h1>
                
			</div>
		</div>
	</div>
{% endblock %}

